/*! 1. GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display:ital@1&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

html {
  font-size: 10px;
  font-family: "Mulish", sans-serif;
}

body {
  min-height: 100vh;
  font-size: 2.4rem;
  font-family: "Mulish";
  background-color: #e0c5ab;
}

.app {
  margin: 80px auto;
  max-width: 1200px;
}

h1 {
  padding-left: 30px;
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  font-style: italic;
  line-height: 6rem;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*! BUTTONS, INPUTS */
button, input, select {
  outline: none;
  border: none;
}

button, select {
  cursor: pointer;
}

/*! 2. AddProduct Component */
.add-product {
  padding: 20px;
  margin: 0 auto 60px;
  border-radius: 20px;
  background-color: #ba4548;
}

.add-product form {
  margin: 0 auto;
}

.add-product input, .add-product select {
  padding: 5px;
  margin: 0 12px;
  border-radius: 10px;
  font-size: 2.4rem;
  font-family: "Mulish", sans-serif;
}

.add-product input.quantity {
  max-width: 180px;
}

.add-product button {
  display: block;
  float: right;
  padding: 3px;
  margin-right: 20px;
  color: #f9e7e9;
  background-color: transparent;
}

label.container {
  position: relative;
  margin: 0 10px;
  padding-left: 35px;
  cursor: pointer;
}

label.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

label.container span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #f9e7e9;
}

label.container input:checked ~ span.checkmark {
  background-color: #d8838f;
}

label.container input:checked ~ span.checkmark::after {
  display: block;
}

label.container span.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

label.container:hover span.checkmark {
  background-color: #e0c5ab;
}

/*! 3. ShoppingList Component  */
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
  border-radius: 20px;
  background-color: #f9e7e9;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.list .no-items {
  padding: 30px 0;
  margin: 0 auto;
}

.list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.list .list-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #ba4548;
  font-weight: bold;
}

.list .table-tile {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.list .table-tile:nth-child(5n) {
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
}

.list button {
  margin-left: 10px;
  padding: 5px;
  background-color: transparent;
}

.list .count {
  width: 100%;
  padding: 10px 0;
  margin-top: 30px;
  text-align: center;
  background-color: #d8838f;
}

.list .count h3 {
  margin-bottom: 20px;
  text-decoration: underline;
}

/* 4. CategoryList Component */
.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px 10px;
  text-align: center;
  background-color: #f9e7e9;
  border-radius: 10px;
  margin-bottom: 60px;
}

.categories .tile {
  min-width: 200px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 20px 10px;
  border: 5px solid #d8838f;
  border-radius: 20px;
  margin: 10px;
  background-color: #ba4548;
  cursor: pointer;
}

.categories .tile:hover {
  background-color: #d8838f;
}

.categories h2 {
  font-size: 2.8rem;
  color: #f9e7e9;
}

/* 5. GeneratePDF Component */
.print {
  margin-top: 50px;
  text-align: center;
}

.print button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #d8838f;
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.print button:hover {
  -webkit-box-shadow: 10px 10px 0px 0px #ba4548, 20px 20px 0px 0px #f9e7e9;
          box-shadow: 10px 10px 0px 0px #ba4548, 20px 20px 0px 0px #f9e7e9;
}
/*# sourceMappingURL=style.css.map */