@media ( max-width: 1200px ) 
  .app
    padding: 0 5%

  .add-product 
    form
      display: flex
      flex-direction: column
      // margin: 0 5%
      // text-align: center
    input, select, .columns, button
      margin: 10px 
    .columns
      display: block
      .container
        margin-right: 30px
  
  .categories
    .tile
      flex-basis: 31%

@media ( max-width: 1000px ) 
  .categories
    .tile
      flex-basis: 44%

