/* 
font-family: 'Mulish', sans-serif;
font-family: 'Playfair Display', serif; 
*/

.app {
  margin: 80px auto;
  max-width: 1200px;
}

.add-product {
  margin: 0 auto 60px;
  padding: 20px;
  background-color: #ba4548;
  border-radius: 20px;
}

.add-product form {
  /* height: 4.2rem; */
  margin: 0 auto;
  background-color: lightblue;
}

.add-product input,
.add-product select {
  margin: 0 12px;
  padding: 5px;
  /* line-height: 40px; */
  font-size: 2.4rem;
  font-family: "Mulish", sans-serif;
  border-radius: 10px;
  border: none;
  outline: none;
}

.add-product button {
  border: none;
  color: #f9e7e9;
  background-color: transparent;
  padding: 5px;
  margin-right: 20px;
  border: 1px solid;
  outline: none;
  cursor: pointer;
  display: block;
  float: right;
}

/* .add-product button {
  height: 100%;
} */

/* ShoppingList Component */
.list {
  background-color: thistle;
  background-color: #f9e7e9;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  border-radius: 20px;
  overflow: hidden;
  /* border: 3px solid #d8838f; */
}

.list .table-tile {
  padding: 10px;
  text-align: center;
  flex-basis: 22%;
  flex-grow: 1;
  /* border-left: solid 2px black; */
}

.list .table-tile.main {
  background-color: #ba4548;
  font-weight: bold;
}

.list .table-tile:nth-child(5n) {
  flex-basis: 8%;
  /* background-color: antiquewhite; */
}

.list button {
  margin-left: 10px;
  padding: 5px;
  background-color: transparent;
  border: none;
  /* background-color: white; */
  cursor: pointer;
}

/* CategoryList Component */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 10px;
  text-align: center;
  background-color: #f9e7e9;
  border-radius: 10px;
  margin-bottom: 60px;
}

.categories .tile {
  height: 160px;
  width: 200px;
  flex-basis: 30%;
  margin: 10px;
  padding: 10px;
  background-color: #ba4548;
  border: 5px solid #d8838f;
  border-radius: 20px;

  /* color: whitesmoke; */
  cursor: pointer;
}

.categories h2 {
  /* font-weight: 400; */
  font-size: 2.8rem;
  color: #f9e7e9;
}

/* GeneratePDF Component */

.print {
  text-align: center;
  margin-top: 50px;
}

.print button {
  font-size: 2.8rem;
  background-color: #d8838f;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.print button:hover {
  box-shadow: 10px 10px 0px 0px #ba4548, 20px 20px 0px 0px #f9e7e9;
}
